* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    display: flex;
    justify-content: center;
    margin-bottom: 40px; 
}

.nav-container {
    display: flex;
    justify-content: center;
}

.nav-menu li:hover {
    color: blue;
}

.nav-menu {
    list-style-type: none;
    padding: 0;
    display: flex; 
    margin-left: 300px;
    font-size: 20px;
}

.nav-menu li {
    margin-right: 20px;
    list-style: none;
    margin-right: 300px;
    margin-bottom: 30px;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ffffff;
    padding: 10px;
    color: black;
    border: 1px solid black; 
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu li {
    padding: 10px;
}

.dropdown-menu li:hover {
    background-color: #ffffff;
    color: blue;
    border: 1px solid black; 
    padding: auto;
}

bottom{
    background-color: #ffffff;
    color: forestgreen;
}

main img:hover {
    opacity: 0.5;
}

h1 {
    display: flex;
    justify-content: center;
    margin-bottom: 40px; 
    margin-top: 70px;
    font-size: 45px;
    color: #083774;
}

figure {
    display: inline-block; 
    border: 1px solid #ccc; 
    margin: 20px; 
    padding: 3px; 
    text-align: center; 
}

.figure-services1 {
    text-align: center; 
    margin-top: 30px;
}

.figure-services2 {
    text-align: center; 
    margin-top: 30px;
}

figcaption {
    color: #0b0d74;
    background-color: rgb(190, 185, 185);
}

footer {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
    margin-left: 0;
}

footer p {
    margin: 0;
}
